/* Anchor hover styles */
.nav-anchor:hover {
	@apply text-[#BF9E40];
}

/* Icon wrapper on hover */
.nav-anchor:hover div {
	background: #BF9E40 !important;
	filter: brightness(1) !important;
}

/* Icon SVG on hover */
.nav-anchor:hover svg {
	@apply bg-white !important;
}
